{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="span12">
            <h1 class="header">Vote on Hackbright Ideas</h1>
        </div>
        <div class="span4">
            <h3><i class="icon-plus-sign"></i> Add Post</h3>
            <form action="/add_post">
                <input type="text" name="title" placeholder="Title" />
                <br />
                <input type="text" name="author" placeholder="Author" />
                <br />
                <textarea name="body" placeholder="Post Body"></textarea>
                <br />
                <input class="btn" type="submit" value="Add Post" />
            </form>
        </div>

        <div class="span8">
            {% if posts %}
            {% for post in posts %}
                <div class="post">
                    <h3>{{post[1]}}</h3>
                    <span>Author: {{post[3]}}</span>
                    <br />
                    <span>Created At: {{post[4]}}</span>
                    <p>{{post[2]}}</p>
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}